In [7]:
import numpy as np
import pandas as pd

In [16]:
dataFrame1=pd.read_excel("maas.xlsx")

In [17]:
dataFrame1

  Unnamed: 0  Maas   Yas  Departman
0       Atıl   100  40.0    Yazılım
1     Zeynep   150  50.0      Satis
2     Mehmet   200  30.0        NaN
3      Ahmet    50  10.0  Pazarlama
4      Hasan   150   NaN     Finans
5      Fatma   200  25.0      Hukuk

In [18]:
doluDegerlerDataFrame=dataFrame1.dropna()

In [19]:
doluDegerlerDataFrame

  Unnamed: 0  Maas   Yas  Departman
0       Atıl   100  40.0    Yazılım
1     Zeynep   150  50.0      Satis
3      Ahmet    50  10.0  Pazarlama
5      Fatma   200  25.0      Hukuk

In [20]:
doluDegerlerDataFrame.to_excel("yenimaas.xlsx")

In [21]:
## read_csv
## to_csv